<!-- Footer -->
<div class="footer">
  <p>Archive</p>
  <span>Huihan’s Blog © 2019 &nbsp;&nbsp;|&nbsp;&nbsp;</span>
  <span>Powered by</span>
  <a class="web-link" href="https://hexo.io" target="_blank"> Hexo</a>
  <span>, Theme by</span>
  <a class="web-link" href="https://huihan.info" target="_blank">Huihan</a>
  <div class="footer-motto">
    <img class="motto" src="/images/footer_motto.svg" alt="记录生活，记录自己">
  </div>
</div>
