<div class="header">
  <a href="/">
    <img class="flower" src="/images/flower.svg" alt="陌上花开">
  </a>
  <p class="theme_poem">檐前烟雨三山外，陌上花开又几何；此身愿为白云客，素衣清浅越梦泽。</p>
  <img class="bg" src="/images/blog_bg.png" alt="">
</div>
