.archives{
  padding: 50px 60px;

  .year{
    margin: 0 0 12px;
    font-size: 28px;
    font-family: serif;
  }

  .list {
    font-size: 14px;
    margin:0 0 50px;

    .post-archive{
      margin: 12px 0;
    }

    a.title{
      opacity: 0.8;
    }

    span.date{
      font-family: Arial;
      opacity: 0.3;
      float:right;
    }
  }

}
