div.footer{
  text-align: center;
  margin: 0 auto 80px;
  font-size: 12px;

  .nav{
    padding: 10px 0 30px;
    color: #333333;
    font-size: 14px;

    a{
      padding: 0 10px;
      opacity: 0.5;
      transition: opacity 200ms ease;
    }

    a:hover{
      opacity: 0.8;
    }
  }

  span{
    opacity: 0.3;
  }

  a.web-link{
    opacity: 0.8;
  }

  a.web-link:hover{
    text-decoration:underline;
  }

  img.motto{
    margin-top: 20px;
    height: 18px;
  }
}
