div.header{
  width: 100%;
  margin-top: 80px;

  img.flower{
    height: 40px;
  }

  p.theme_poem{
    font-family: serif;
    opacity: 0.6;
  }

  .bg{
    float: right;
    position: absolute;
    z-index: -1;
    top: -1%;
    right: 0;
  }
}
