.page-nav{
  height: 22px;
  padding: 10px 60px 40px;
}

.prev{
  font-size: 14px;
  color: #333333;
  opacity: 0.8;
  letter-spacing: 2px;
}

.next{
  font-size: 14px;
  color: #333333;
  opacity: 0.8;
  letter-spacing: 2px;
  float: right;
}

.current{
  display: none;
}
